/* Graphics */
body {
	font-family:Tahoma,sans-serif;
}

#bg_middle{
	margin: 0px 100px 100px 100px;
}

#nav {
  font-size:12px;
}

#header {
	font-size:28px;
	margin: 10px 10px 10px 0px;
}

#content_left {
	margin: 0px 0px 0px 50px;
	width:450px;
}

input {
  display: block;
}

ul.tags, ul.tags li {
  display: inline;
  margin: 0;
  padding: 0;
}

ul.bookmarks .edit {
     font-size: 70%;
}

#tag-cloud {
  text-align: center;
}

#tag-cloud a {
  margin: 0 0.2em;
}

.tag-cloud-0 {
  font-size: 100%;
}

.tag-cloud-1 {
  font-size: 120%;
}

.tag-cloud-2 {
  font-size: 140%;
}

.tag-cloud-3 {
  font-size: 160%;
}

.tag-cloud-4 {
  font-size: 180%;
}

.tag-cloud-5 {
  font-size: 200%;
}

.comment {
     margin: 1em;
     padding: 5px;
     border: 1px solid #000;
}